body {
  margin: 0;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  background-color: #ecf0f5 !important;
}

.graid-chart {
  /* margin-left: -10px; */
}

.span-edit {
  font-size: 20px !important;
  margin-left: 30px !important;
  color: #000 !important;
  font-weight: 500 !important;
}

.icon-edit {
  font-size: 32px !important;
}

.table-style {
  width: 85% !important;
  margin-right: auto !important;
  margin-left: auto !important;

}

.add-button {
  position: relative;
  left: 89px;
  bottom: 25px;
  font-size: 21px;
  background-color: #225C8B !important;
  margin-left: 940px;

}


.table-head {
  display: flex;
  justify-content: end;
  position: relative;
  right: 91px;
  top: 27px;

}

.add-head {
  display: flex;
  position: relative;
  top: 22px;
  right: 8%;
}

.table-head-stayl {
  background-color: #1da2dc;
  color: #fff;
}

.ticket {
  border-radius: 6px;
  /* padding: 23px; */
  background-color: #f2efef9e;
  cursor: pointer;
  width: 62%;
}

.addIcon {
  background-color: #1976d2;
  color: #fff;
  border-radius: 4px;
  margin-right: 10px;

}

.product-edit {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
}

.color {
  background-color: "#fcf7f7" !important;
}


.login-edit {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
}

.all-login {
  text-align: center;
  height: 100vh;
  background-size: 72% 100%;
  overflow-y: auto;
  background-color: #f7f7f7;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
}

.home-grid-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.second {
  display: flex;
  flex-direction: column;
  justify-content: start;
  grid-column: 3 / 4;
  grid-row-start: 1;

}

.home-grid-box-2 {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;

}

.home-grid-box-3 {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 3;
  grid-row-start: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 120px;
}

.home-grid-box-4 {
  display: flex;
  flex-direction: column;

  background-color: #F4FBFD;
  padding: 20px;
  border-radius: 15px;
  color: #F2736D;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  flex: 1;
}

/*Home Room component css*/
.room-details-container {
  width: 746px;
  margin: 0;
  font-family: Arial, sans-serif;
}

.tabs {
  display: flex;
  justify-content: flex-start;
}

.tabs button {
  padding: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  margin: 0;
}

.tabs button.active {
  background-color: #E4F4FA66;
  font-weight: bold;
}

.tab-content {
  background-color: #F4FBFD;
  padding: 20px;
  margin-top: 0px;
}

.room-tab-content .room-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #f1f1f1;
}

.room-info {
  display: flex;
  align-items: center;
}

.room-info span {
  margin-right: 20px;
}

.room-name {
  font-weight: bold;
}

.room-children img,
.room-staff img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}


.intro {}

.intro .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: hsl(0, 0%, 98%, 50%);
  height: 100%;
  z-index: 1;
}

.intro .box {
  position: relative;
  width: 100%;
  background-image: url(../src/imgs/introback.png) !important;
  background-size: cover;
  height: calc(100% - 75px);
}

.activity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 220px;
}